{% include 'UserAuth/error.html' %}

Professor Login

<form action="{% url 'UserAuth:login-professor' %}" method="POST">
	{% csrf_token %}
	Email : <input type="text" placeholder="email or phone no" name="professor_login_username" required><br>
	Password : <input type="password" name="professor_login_password" required><br>
	<input type="submit" value="SUBMIT">
</form>

<br><br>


Student Login

<form action="{% url 'UserAuth:login-student' %}" method="POST">
	{% csrf_token %}
	Email : <input type="text" placeholder="email or phone no" name="student_login_username" required><br>
	Password : <input type="password" name="student_login_password" required><br>
	<input type="submit" value="SUBMIT">
</form>