.body-section{
    margin-top: 1%;
}

.meeting-card{
    max-height: 450px;
}

.list-card{
    max-height: 380px;
}

.card-image{
    align-items: center;
    align-content: center;
    text-align: center;
}

.student-avatar{
    height: 5vh;
    width: 5vh;
}

.card-data {
    background-color: rgb(107, 104, 102);
}

.header-text{
    float: left;
}

.header-button{
    float: right;
}

.meeting-title{
    font-weight: bold;
}

.meeting-body{
    margin-left: 2%;
    margin-right: 2%;
}

.no-meeting{
    text-align: center;
    vertical-align: middle;
}

.poll-card{
    margin-top: 2%;
}

.doubt-card{
    margin-top: 2%;
}

.broad-card{
    padding-top: 2%;
}

.list{
    overflow-y: scroll;
    height: 300px;
}

.quiz-card{
    height: 300px;
}

.quiz-card-body{
    max-height: 150px;
}

.active-quiz-card{
    max-height: 85vh;
}

.quiz-draft-card-body{
    max-height: 200px;
}

.info-right {
    float: right;
}

.meeting-card-body{
    max-height: 30vh;
}

.all-meeting-card{
    max-height: 80vh;
}