{% extends 'Professor/main.html' %}
{% include 'UserAuth/message.html' %}
{% load staticfiles %}

{% block title %}
Dashboard
{% endblock %}
<br><br>

{% block body %}

<section class="body-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        {% if meeting_list %}
                        {% for meeting in meeting_list %}
                        <div class="card meeting-card border-primary">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-9 col-xs-12">Todays' Meetings</div>
                                    <div class="col-md-3 col-xs-12"><a href="{% url 'Meeting:index' %}"><button type="button" class="btn btn-info btn-sm">View All</button></a></div>
                                </div>
                            </div>
                            <div class="card-body meeting-card-body" style="overflow-y: scroll">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12"><img src="{% static 'images/avatar/student.png' %}" class="student-avatar"></div>
                                    <div class="col-md-8 col-xs-12">{{ meeting.meeting.student.user.user.first_name }} {{ meeting.meeting.student.user.user.last_name }}</div>
                                </div>
                                <p class="card-text meeting-title">{{ meeting.meeting.title }}</p>
                                <p class="card-text meeting-body">{{ meeting.meeting.body }}</p>
                                <form action="/" method="POST" name="meeting_discussion_form">
                                    {% csrf_token %}
                                    <textarea class="form-control meeting-body" name="discussed" class="2" id="discussed-text" placeholder="What was discussed"
                                        max="50"></textarea>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-8 col-xs-12"><small class="text-muted">{{ meeting.meeting_place }} : {{ meeting.meeting_date }} {{ meeting.meeting_time }}</small></div>
                                    <div class="col-md-2 col-xs-12"><i class="fa fa-check" style="color:green" onclick="meeting_happened({{ meeting.meeting.id }})"></i></div>
                                    <div class="col-md-2 col-xs-12"><i class="fa fa-times" style="color: red;" onclick="meeting_not_happened({{ meeting.meeting.id }})")></i></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card meeting-card border-primary">
                            <div class="card-header">
                              <div class="row">
                                  <div class="col-md-9 col-xs-12">Todays' Meetings</div>
                                  <div class="col-md-3 col-xs-12"><a href="{% url 'Meeting:index' %}"><button type="button" class="btn btn-info btn-sm">View All</button></a></div>
                              </div>
                            </div>
                            <div class="card-image">
                                <img src="{% static 'images/avatar/student.png' %}" class="student-avatar">
                            </div>
                            <div class="card-body no-meeting">
                                No Meetings Today
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-md-12 col-xs-12">
                            {% if all_doubt_list %}
                            {% for doubt in all_doubt_list %}
                            <div class="card meeting-card border-primary doubt-card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-9 col-xs-12">Doubts</div>
                                        <div class="col-md-3 col-xs-12"><a href="{% url 'Doubt:index' %}"><button type="button" class="btn btn-info btn-sm">View All</button></a></div>
                                    </div>
                                </div>
                                <div class="card-body meeting-card-body" style="overflow-y: scroll">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12"><img src="{% static 'images/avatar/student.png' %}" class="student-avatar"></div>
                                        <div class="col-md-8 col-xs-12">{{ doubt.student.user.user.first_name }} {{ doubt.student.user.user.last_name }}</div>
                                    </div>
                                    <p class="card-text meeting-title">{{ doubt.title }}</p>
                                    <p class="card-text">{{ doubt.description }}</p>
                                    <form action="{% url 'Doubt:post-comment' doubt.id %}" method="POST" name="doubt_comment_form">
                                        {% csrf_token %}
                                        <textarea class="form-control meeting-body" name="comment" id="doubt-comment" class="2" placeholder="What was discussed" max="50"></textarea>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-8 col-xs-12"><small class="text-muted">{{ doubt.last_updated }}</small></div>
                                        <div class="col-md-2 col-xs-12"><i class="fa fa-check" style="color: green;" onclick="post_comment()"></i></div>
                                        <div class="col-md-2 col-xs-12"><a href="{% url 'Doubt:doubt' doubt.id %}" style="color: blue; text-decoration: underline;"><i class="fa fa-eye"></i></a></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="card meeting-card border-primary">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-9 col-xs-12">Doubts</div>
                                        <div class="col-md-3 col-xs-12"><a><button type="button" class="btn btn-info btn-sm">View All</button></a></div>
                                    </div>
                                </div>
                                <div class="card-image">
                                    <img src="{% static 'images/avatar/student.png' %}" class="student-avatar">
                                </div>
                                <div class="card-body no-meeting">
                                    No Doubts
                                </div>
                            </div>
                            {% endif %}
                        </div>
                </div>
            </div>

            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="card col-md-12 col-xs-12 border-warning list-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">Active Quizzes - {{ active_quiz_list.count }}</div>
                                <div class="col-md-2 col-xs-12"><a href="{% url 'Professor:create-quiz' %}"><button type="button" class="btn btn-info btn-sm">Add Quiz</button></a></div>
                                <div class="col-md-2 col-xs-12"><a href="{% url 'Professor:all-quiz' %}"><button type="button" class="btn btn-info btn-sm">View All</button></a></div>
                            </div>
                        </div>
                        <div class="card-body" style="overflow-y: scroll;">
                            <div class="row">
                                {% if active_quiz_list %}
                                {% for quiz in active_quiz_list %}
                                <div class="col-md-4 col-xs-12">
                                    <div class="card quiz-card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-md-8 col-xs-12"><a href="{% url 'Professor:quiz' quiz.quiz.id %}" style="color: black; text-decoration: underline;">{{ quiz.unique_quiz_id }}</a></div>
                                                <div class="col-md-4 col-xs-12">{{ quiz.quiz.course.code }}</div>
                                            </div>
                                        </div>
                                        <br>
                                        <center>
                                            <div class="div-canvas" id="quiz-pie-chart-{{forloop.counter}}-div" style="height: 80px; width: 80px;">
                                                <canvas id="quiz-pie-chart-{{forloop.counter}}"></canvas>
                                            </div>
                                        </center>
                                        <div class="card-body quiz-card-body" style="overflow-y: scroll;">
                                            <h5 class="card-title">{{ quiz.quiz.title }}</h5>
                                            <p class="card-text">{{ quiz.quiz.description }}</p>
                                        </div>
                                        <div class="card-footer quiz-card-footer">
                                            <div class="row">
                                            <div class="col-md-6 col-xs-12">{{ quiz.submissions }} / {{ quiz.total }}</div>
                                            <div class="col-md-6 col-xs-12"><a href="{% url 'Professor:stop-quiz' quiz.id %}" style="color: red; text-decoration: underline;">End Quiz</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="col-md-12 col-xs-12">
                                        <div class="card quiz-card">
                                            <div class="card-body quiz-card-body" style="overflow-y: scroll;">
                                                No Active Quizzes
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="card col-md-12 col-xs-12 border-secondary poll-card  list-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">Active Polls - {{ active_poll_list.count }}</div>
                                <div class="col-md-2 col-xs-12"><a href="{% url 'Professor:create-poll' %}"><button type="button" class="btn btn-info btn-sm">Add Poll</button></a></div>
                                <div class="col-md-2 col-xs-12"><a href="{% url 'Professor:all-poll' %}"><button type="button" class="btn btn-info btn-sm">View All</button></a></div>
                            </div>
                        </div>
                        <div class="card-body" style="overflow-y: scroll">
                            <div class="row">
                                    {% if active_poll_list %}
                                    {% for poll in active_poll_list %}
                                    <div class="col-md-4 col-xs-12">
                                        <div class="card quiz-card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <!-- <div class="col-md-8 col-xs-12"><a href="{% url 'Professor:poll' poll.poll.id %}" style="color: black;"></a>{{ poll.unique_poll_id }}</a></div> -->
                                                    <div class="col-md-8 col-xs-12"><a href="{% url 'Professor:poll' poll.poll.id %}" style="color: black; text-decoration: underline">{{ poll.unique_poll_id }}</a></div>
                                                    <div class="col-md-4 col-xs-12">{{ poll.poll.course.code }}</div>
                                                </div>
                                            </div>
                                            <br>
                                            <center>
                                                <div class="div-canvas" id="poll-pie-chart-{{forloop.counter}}-div" style="height: 80px; width: 80px;">
                                                    <canvas id="poll-pie-chart-{{forloop.counter}}"></canvas>
                                                </div>
                                            </center>
                                            <div class="card-body quiz-card-body" style="overflow-y: scroll;">
                                                <h5 class="card-title">{{ poll.poll.title }}</h5>
                                            </div>
                                            <div class="card-footer quiz-card-footer">
                                                <div class="row">
                                                <div class="col-md-6 col-xs-12">{{ forloop.counter }} / 10</div>
                                                <div class="col-md-6 col-xs-12"><a href="{% url 'Professor:stop-poll' poll.id %}" style="color: red; text-decoration: underline;">End Poll</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="col-md-12 col-xs-12">
                                            <div class="card quiz-card">
                                                <div class="card-body quiz-card-body" style="overflow-y: scroll;">
                                                    No Active Polls
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

<!-- <a href="{% url 'UserAuth:logout' %}">LOGOUT</a> -->
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
        function post_comment()
        {
            console.log($('#doubt-comment').val());
            if($('#doubt-comment').val() == '')
            {
                alert('Enter Comment. Cannot be empty');
                return false;
            }
            else
            {
                document.doubt_comment_form.submit();
            }
        }
        function meeting_happened(meeting_id)
        {
            if($('#discussed-text').val() == '')
            {
                alert('Enter details. Cannot be empty');
                return false;
            }
            else
            {
                document.meeting_discussion_form.action = "{% url 'Meeting:meeting-happened' 1234 %}".replace(/1234/, meeting_id);
                console.log(document.meeting_discussion_form.action)
                document.meeting_discussion_form.submit();
            }
        }
        function meeting_not_happened(meeting_id)
        {
              document.meeting_discussion_form.action = "{% url 'Meeting:meeting-not-happened' 1234 %}".replace(/1234/, meeting_id);
              console.log(document.meeting_discussion_form.action)
              document.meeting_discussion_form.submit();
        }
    </script>
    <script>

        {% if active_quiz_list %}
        {% for quiz in active_quiz_list %}
            var ctx = document.querySelector("#quiz-pie-chart-{{forloop.counter}}").getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'pie',
            responsive: false,
            width: 30,
            height: 30,
            data: {
                labels: ['Submitted', 'Not-Submitted'],
                datasets: [{
                    label: 'akncakjnck',
                    data: [{{ quiz.submissions }}, {{ quiz.total }}-{{ quiz.submissions }}],
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: ['#04A1B7', '#144F1E'],
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(242,34,34,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(242,34,34,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,

                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines:{
                            display: false,
                            drawBorder: false
                        },
                        ticks:{
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines:{
                            display: false,
                            drawBorder: false
                        },
                        ticks:{
                            display: false
                        }
                    }]
                }
            }
            });
        {% endfor %}
        {% endif %}

        {% if active_poll_list %}
        {% for poll in active_poll_list %}
            var ctx = document.querySelector("#poll-pie-chart-{{forloop.counter}}").getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'pie',
            responsive: false,
            width: 30,
            height: 30,
            data: {
                labels: ['Submitted', 'Not-Submitted'],
                datasets: [{
                    label: 'akncakjnck',
                    data: [{{forloop.counter}}, {{ forloop.counter}}+1],
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: ['#560846', '#A53606'],
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(242,34,34,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(242,34,34,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,

                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines:{
                            display: false,
                            drawBorder: false
                        },
                        ticks:{
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines:{
                            display: false,
                            drawBorder: false
                        },
                        ticks:{
                            display: false
                        }
                    }]
                }
            }
            });
        {% endfor %}
        {% endif %}
    </script>
{% endblock %}
