{% extends 'Professor/main.html' %}
{% include 'UserAuth/message.html' %}
{% load staticfiles %}

{% block title %}
Dashboard
{% endblock %}
<br><br>

{% block body %}

<section class="body-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        {% if meeting_list %}
                        {% for meeting in meeting_list %}
                        <div class="card meeting-card border-primary">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-9 col-xs-12">Todays' Meetings</div>
                                    <div class="col-md-3 col-xs-12"><a><button type="button" class="btn btn-info btn-sm">View
                                                All</button></a></div>
                                </div>
                            </div>
                            <div class="card-image">
                                <img src="{% static 'images/avatar/student.png' %}" class="student-avatar">
                            </div>
                            <div class="card-body" style="overflow-y: scroll">
                                <h5 class="card-title">{{ meeting.meeting.student.user.user.first_name }} {{ meeting.meeting.student.user.user.last_name }}</h5>
                                <p class="card-text meeting-title">{{ meeting.meeting.title }}</p>
                                <p class="card-text meeting-body">{{ meeting.meeting.body }}</p>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <textarea class="form-control meeting-body" class="2" placeholder="What was discussed"
                                        max="50"></textarea>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-9 col-xs-12"><small class="text-muted">{{ meeting.meeting_place }} : {{ meeting.meeting_date }} {{ meeting.meeting_time }}</small></div>
                                    <div class="col-md-3 col-xs-12"><i class="fa fa-check" style="color:green"></i>
                                        &nbsp; &nbsp;<i class="fa fa-times" style="color: red;"></i></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card meeting-card border-primary">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-9 col-xs-12">Todays' Meetings</div>
                                    <div class="col-md-3 col-xs-12"><a><button type="button" class="btn btn-info btn-sm">View
                                                All</button></a></div>
                                </div>
                            </div>
                            <div class="card-image">
                                <img src="{% static 'images/avatar/student.png' %}" class="student-avatar">
                            </div>
                            <div class="card-body no-meeting">
                                No Meetings Today
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="card col-md-12 col-xs-12 border-warning list-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10 col-xs-12">Active Quizzes</div>
                                <div class="col-md-2 col-xs-12"><a><button type="button" class="btn btn-info btn-sm">View
                                            All</button></a></div>
                            </div>
                        </div>
                        <div class="card-body" style="overflow-y: scroll;">
                            <table class="table table-striped">
                                <tbody>
                                    {% if active_quiz_list %}
                                    {% for quiz in active_quiz_list %}
                                    <tr>
                                        <td>{{ quiz.unique_quiz_id }}</td>
                                        <td>{{ quiz.quiz.course.code }}</td>
                                        <td>{{ quiz.quiz.title }}</td>
                                        <td>{{ quiz.quiz.description }}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="{% url 'Professor:quiz' quiz.quiz.id %}" class="btn btn-secondary btn-sm">
                                                        <i class="fas fa-info"></i>&nbsp; Details
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="{% url 'Professor:quiz' quiz.quiz.id %}" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-stop"></i>&nbsp; End
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td>No Active Quizzes</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card col-md-12 col-xs-12 border-secondary poll-card  list-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10 col-xs-12">Active Polls</div>
                                <div class="col-md-2 col-xs-12"><a><button type="button" class="btn btn-info btn-sm">View
                                            All</button></a></div>
                            </div>
                        </div>
                        <div class="card-body" style="overflow-y: scroll">
                            <!-- <tbody>
                                {% if active_poll_list %}
                                    {% for poll in active_poll_list %}
                                        <tr>
                                        <td>{{ poll.unique_poll_id }}</td>
                                        <td>{{ poll.poll.course.code }}</td>
                                        <td>{{ poll.poll.title }}</td>
                                        <td>{{ poll.conduction_date }}</td>
                                        <td>
                                            <a href="{% url 'Professor:poll' poll.poll.id %}" class="btn btn-secondary">
                                                <i class="fas fa-angle-double-right"></i> Details
                                            </a>
                                        </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>No Active Polls</td>
                                    </tr>
                                {% endif %}
                            </tbody> -->
                            <table class="table table-striped">
                                <tbody>
                                    {% if active_poll_list %}
                                    {% for poll in active_poll_list %}
                                    <tr>
                                        <td>{{ poll.unique_poll_id }}</td>
                                        <td>{{ poll.poll.course.code }}</td>
                                        <td>{{ poll.poll.title }}</td>
                                        <td>{{ poll.conduction_date }}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="{% url 'Professor:poll' poll.poll.id %}" class="btn btn-secondary btn-sm">
                                                        <i class="fas fa-info"></i>&nbsp; Details
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="{% url 'Professor:poll' poll.poll.id %}" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-stop"></i>&nbsp; End
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td>No Active Polls</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="posts">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-6">
              <div class="card" style="height: 25rem; overflow-y: scroll;" >
                
                <table class="table table-striped">
                  <thead class="bg-warning">
                    <tr>
                      <th><a href="{% url 'Professor:all-poll' %}" style="text-decoration: none; color: black">Polls</a></th>
                      <th></th>
                        <th></th>
                        <th></th>
                      <th style="text-align: right;"><a href="{% url 'Professor:create-poll' %}"><i class="fa fa-plus" aria-hidden="true" style="color: black;"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                        {% if active_poll_list %}
                            {% for poll in active_poll_list %}
                                <tr>
                                <td>{{ poll.unique_poll_id }}</td>
                                <td>{{ poll.poll.course.code }}</td>
                                <td>{{ poll.poll.title }}</td>
                                <td>{{ poll.conduction_date }}</td>
                                <td>
                                    <a href="{% url 'Professor:poll' poll.poll.id %}" class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No Active Polls</td>
                            </tr>
                        {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="card" style="height: 25rem; overflow-y: scroll;" >
                
                <table class="table table-striped">
                  <thead class="table-danger">
                    <tr>
                      <th><a style="text-decoration: none; color: black" href="{% url 'Professor:all-quiz' %}">Quiz</th>
                      <th></th>
                        <th></th>
                        <th></th>
                      <th style="text-align: right;"><a href="{% url 'Professor:create-quiz' %}"><i class="fa fa-plus" aria-hidden="true" style="color: black;"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                        {% if active_quiz_list %}
                            {% for quiz in active_quiz_list %}
                            <tr>
                                <td>{{ quiz.unique_quiz_id }}</td>
                                <td>{{ quiz.quiz.course.code }}</td>
                                <td>{{ quiz.quiz.title }}</td>
                                <td>{{ quiz.quiz.description }}</td>
                                <td>
                                    <a href="{% url 'Professor:quiz' quiz.quiz.id %}" class="btn btn-secondary">
                                    <i class="fas fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No Active Quizzes</td>
                              </tr>
                        {% endif %}
                  </tbody>
                </table>
              </div>
            </div> -->
        </div>
    </div>
</section>
<br>
<section id="posts">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-6">
                  <div class="card" style="height: 25rem; overflow-y: scroll;" >
                    
                    <table class="table table-striped">
                      <thead class="bg-success">
                        <tr>
                          <th>Doubts</th>
                          <th></th>
                            <th></th>
                            <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if all_doubt_list %}
                            {% for doubt in all_doubt_list %}
                            <tr>
                                <td>{{ doubt.course.code }}</td>
                                <td>{{ doubt.student.user.user.first_name }}</td>
                                <td>{{ doubt.last_updated }}</td>
                                <td>{{ doubt.title }}</td>
                                <td>
                                    <a href="{% url 'Doubt:doubt' doubt.id %}" class="btn btn-secondary">
                                    <i class="fas fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No Courses Assigned</td>
                            </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
       -->
            <!-- <div class="col-md-6">
                  <div class="card" style="height: 25rem; overflow-y: scroll;" >
                    
                    <table class="table table-striped">
                      <thead class="bg-primary">
                        <tr>
                          <th>Meetings</th>
                          <th></th>
                            <th></th>
                            <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                            {% if meeting_list %}
                                {% for meeting in meeting_list %}
                                <tr>
                                    <td>{{ meeting.student.user.user.first_name }}</td>
                                    <td>{{ meeting.title}}</td>
                                    <td>{{ meeting.created_time }}</td>
                                    <td>{{ meeting.status }}</td>
                                    <td>
                                        <a href="{% url 'Meeting:meeting-detail' meeting.id %}" class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No Meeting Today</td>
                                  </tr>
                            {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div> -->
        </div>
    </div>
</section>

<!-- <a href="{% url 'Professor:create-poll' %}">Create Poll</a><br>
      Polls:
      {% if poll_list %}
          {% for poll in poll_list %}
              <ul>
                  <li><a href="{% url 'Professor:poll' poll.id %}"> {{ poll.title }} </a></li>
              </ul>
          {% endfor %}
      {% else %}
          No Poll Created Yet.
      {% endif %}
      <br>
      <br><br>

      Active Quizzes<br>
      {% if active_quiz_list %}
          {% for quiz in active_quiz_list %}
              <ul>
                  <li><a href="{% url 'Professor:quiz' quiz.quiz.id %}"> {{ quiz.quiz.title }} - {{ quiz.unique_quiz_id }} </a></li>
              </ul>
          {% endfor %}
      {% else %}
          No Active Quizzes.
      {% endif %}
      <br>
      <br><br>

  <a href="{% url 'Professor:create-quiz' %}">Create Quiz</a><br>
  Quizzes:
  {% if quiz_list %}
      {% for quiz in quiz_list %}
          <ul>
              <li><a href="{% url 'Professor:quiz' quiz.id %}"> {{ quiz.title }} </a></li>
          </ul>
      {% endfor %}
  {% else %}
      No Quiz Created Yet.
  {% endif %}
  <br>
  <br><br>
  Doubts:
  {% if course_list %}
      {% for course in course_list %}
          <ul>
            <li><a href="{% url 'Doubt:doubt-list' course.course.id %}"> {{ course.course.code }}: {{ course.course.name }} </a></li>
          </ul>
      {% endfor %}
  {% else %}
      No courses to select for Doubts
  {% endif %}

  <br>
  <br><br>

      <a href="{% url 'Professor:create-quiz' %}">Create Quiz</a><br>
      Quizzes:
      {% if quiz_list %}
          {% for quiz in quiz_list %}
              <ul>
                  <li><a href="{% url 'Professor:quiz' quiz.id %}"> {{ quiz.title }} </a></li>
              </ul>
          {% endfor %}
      {% else %}
          No Quiz Created Yet.
      {% endif %}
      <br>
      <br><br>
      Doubts:
      {% if course_list %}
          {% for course in course_list %}
              <ul>
              <li><a href="{% url 'Doubt:doubt-list' course.course.id %}"> {{ course.course.code }}: {{ course.course.name }} </a></li>
              </ul>
          {% endfor %}
      {% else %}
          No courses to select for Doubts
      {% endif %}

      <br>
      <br><br>
      Meetings: -->

{% endblock %}

<!-- <a href="{% url 'UserAuth:logout' %}">LOGOUT</a> -->
{% block scripts %}
{% endblock %}