{% extends 'Professor/main.html' %}
{% load staticfiles %}

{% block title %}
    Doubts
{% endblock %}

{% block body %}
    {% include 'UserAuth/message.html' %}
    <h1>Course: {{course.name}} - {{course.code}}</h1>
    <br>
    <h2>All Doubts:</h2><br><br>

    {% if doubt_list %}
      {% for doubt in doubt_list %}
      <ul>
        <li>
          <h4>{{doubt.title}}</h4>
          <h5>{{doubt.description}}</h5>
          Posted by: {{doubt.student.user.user.first_name}} {{doubt.student.user.user.last_name}}
          Last updated: {{doubt.last_updated}}
          <br>
          <form action="#" method="POST">
            <textarea name="comment" rows="3" cols="50" placeholder="Write your comment here" required></textarea>
            <input type="submit" value="SUBMIT">
          </form>
          <br><br>
        </li>
      </ul>
      {% endfor %}
    {% else %}
      No doubts posted
    {% endif %}
{% endblock %}


{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    </script>
{% endblock %}
