{% extends 'Professor/main.html' %}
{% include 'UserAuth/message.html' %}
{% load staticfiles %}
{% block title %}
    Polls
{% endblock %}
<br><br>

{% block body %}

<section id="posts">
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="height: 25rem; overflow-y: scroll;" >
                
                <table class="table table-striped">
                  <thead class="bg-warning">
                    <tr>
                      <th>Active Polls</th>
                      <th></th>
                        <th></th>
                        <th></th>
                      <th style="text-align: right;"><a href="{% url 'Professor:create-poll' %}"><i class="fa fa-plus" aria-hidden="true" style="color: black;"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                        {% if active_poll_list %}
                            {% for poll in active_poll_list %}
                                <tr>
                                <td>{{ poll.unique_poll_id }}</td>
                                <td>{{ poll.poll.course.code }}</td>
                                <td>{{ poll.poll.title }}</td>
                                <td>{{ poll.conduction_date }}</td>
                                <td>
                                    <a href="{% url 'Professor:poll' poll.poll.id %}" class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No Active Polls</td>
                            </tr>
                        {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="card" style="height: 25rem; overflow-y: scroll;" >
                
                <table class="table table-striped">
                  <thead class="table-danger">
                    <tr>
                      <th>Condcuted Polls</th>
                      <th></th>
                        <th></th>
                        <th></th>
                      <th style="text-align: right;"><a href="{% url 'Professor:create-poll' %}"><i class="fa fa-plus" aria-hidden="true" style="color: black;"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                        {% if finished_poll_list %}
                            {% for poll in finished_poll_list %}
                            <tr>
                                <td>{{ poll.unique_poll_id }}</td>
                                <td>{{ poll.poll.course.code }}</td>
                                <td>{{ poll.poll.title }}</td>
                                <td>{{ poll.conduction_date }}</td>
                                <td>
                                    <a href="{% url 'Professor:conducted-poll' poll.id %}" class="btn btn-secondary">
                                    <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>Zero Polls Conducted Yet.</td>
                              </tr>
                        {% endif %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-4">
                    <div class="card" style="height: 25rem; overflow-y: scroll;" >
                      
                      <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th colspan="2">Poll Drafts</th>
                              <th></th>
                              <th></th>
                            <th style="text-align: right;"><a href="{% url 'Professor:create-poll' %}"><i class="fa fa-plus" aria-hidden="true" style="color: white;"></i></a></th>
                          </tr>
                        </thead>
                        <tbody>
                              {% if all_poll_list %}
                                  {% for poll in all_poll_list %}
                                  <tr>
                                      <td>{{ poll.course.code }}</td>
                                      <td>{{ poll.title }}</td>
                                      <td>{{ poll.description }}</td>
                                      <td></td>
                                      <td>
                                          <a href="{% url 'Professor:poll' poll.id %}" class="btn btn-secondary">
                                          <i class="fas fa-angle-double-right"></i>
                                          </a>
                                      </td>
                                  </tr>
                                  {% endfor %}
                              {% else %}
                                  <tr>
                                      <td>No Polls Created</td>
                                    </tr>
                              {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
          </div>
      </section>

{% endblock %}

{% block scripts %}
{% endblock %}
