              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <div class="card active-quiz-card border-primary">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-md-12 col-xs-12"><strong>Q: What does DFA stand for?</strong></div>                        
                      </div>
                    </div>
                <table class="table table-striped">
                  <thead class="card-header">
                  <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Option Chosen</th>
                    <th>Correct</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>S20160010096</td>
                    <td>Tanmay Kalani</td>
                    <td>Determinstic Finite Automata</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>S2016001001</td>
                    <td>Bhavi Chawala</td>
                    <td>Determinstic Finite Automata</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>S20160010006</td>
                    <td>Anurag Gupta</td>
                    <td>Non-Determinstic Finite Automata</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>S20160010082</td>
                    <td>Sanyem Gupta</td>
                    <td>Determinstic Finite Automata</td>
                    <td>Yes</td>
                  </tr>
                </tbody>
                </table>
              </div>
                </div>
              </div>
            </div>
            </div>
  </section>