{% extends 'Professor/main.html' %}
{% include 'UserAuth/message.html' %}
{% load staticfiles %}

{% block title %}
    Doubts
{% endblock %}

{% block body %}

<section class="body-section">
        <div class="container">
            <div class="row">
    
                <div class="card col-md-12 col-xs-12 all-meeting-card">
                            <div class="card-header">
                                <div class="row">
                                    {% if all_doubt_list %}
                                    <div class="col-md-8 col-xs-12">Doubts - {{ all_doubt_list|length }}</div>
                                    {% else %}
                                    <div class="col-md-8 col-xs-12">Doubts</div>
                                    {% endif %}
                                    <!-- <div class="col-md-2 col-xs-12"><a href="{% url 'Professor:create-quiz' %}"><button type="button" class="btn btn-info btn-sm">Add Quiz</button></a></div>
                                    <div class="col-md-2 col-xs-12"><a href="{% url 'Professor:all-quiz' %}"><button type="button" class="btn btn-info btn-sm">View All</button></a></div> -->
                                </div>
                            </div>
                            <div class="card-body" style="overflow-y: scroll;">
                                <div class="row">
                                    {% if all_doubt_list %}
                                    {% for doubt in all_doubt_list %}
                                    <div class="col-md-4 col-xs-12">
                                    <div class="card meeting-card border-primary">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-md-9 col-xs-12">{{ doubt.course.code }}</div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <a href="{% url 'Doubt:doubt' doubt.id %}" style="text-decoration: underline; color: black">Info</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body meeting-card-body" style="overflow-y: scroll">
                                                <div class="row">
                                                    <div class="col-md-4 col-xs-12"><img src="{% static 'images/avatar/student.png' %}" class="student-avatar"></div>
                                                    <div class="col-md-8 col-xs-12">{{ doubt.student.user.user.first_name }} {{ doubt.student.user.user.last_name }}</div>
                                                </div>
                                                <p class="card-text meeting-title">{{ doubt.title }}</p>
                                                <p class="card-text meeting-body">{{ doubt.description }}</p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="row">
                                                    <div class="col-md-8 col-xs-12"><small class="text-muted">{{ doubt.last_updated }}</small></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="col-md-12 col-xs-12">
                                            <div class="card quiz-card">
                                                <div class="card-body quiz-card-body" style="overflow-y: scroll;">
                                                    No Doubts
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
{% endblock %}